.dropdownWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: azure;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(32,52,74);
    outline: none;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: rgb(32, 52, 74);
    cursor: pointer;
    font-size: 0.75rem;
}